
.places {
    display: flex;
    width: 77%;
    flex-direction: column;
    margin: 0 auto;
}

a:link, a:visited {
    color: white;
    line-height: 22px;
    text-underline-offset: 5px;
}


@media screen and (max-device-width: 1024px){
    .places {
        width: 90%
    }
}

@media screen and (max-device-width: 768px){
    .places {
        width: 93%
    }
}


@media screen and (max-device-width: 320px) {
    .places {
        width: 100%
    }
}