.intro {
    width: 77%;
    margin: auto;
    display: grid;
}

@media screen and (max-device-width: 1024px){
    .intro {
        width: 90%;
    }
}

@media screen and (max-device-width: 768px){
    .intro {
        width: 93%;
    }
}

@media screen and (max-device-width: 320px) {
    .intro {
        width: 90%;
    }
}