.lead {
    align-items: center;
    width: 77%;
    margin: auto;
}

.lead__heading {
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.lead__subtitle {
    max-width: 640px;
    text-align: center;
    line-height: 36px;
    margin: 32px auto 64px auto;
}

.lead__image {
    width: 100%;
}

.lead__caption {
    padding-top: 0;
    margin-top: 0;
}

@media screen and (max-device-width: 1024px){
    .lead {
        width: 90%;
    }
}

@media screen and (max-device-width: 768px){
    .lead {
        width: 100%;
    }
    .lead__caption {
        padding-left: 25px;
    }
}

@media screen and (max-device-width: 320px) {
    .lead {
        width: 100%;
    }

    .lead__subtitle {
        text-align: center;
        line-height: 36px;
        margin: 12px auto 34px auto;
    }
    .lead__caption {
        padding-left: 15px;
    }

}
