.places__website {
    grid-area: website;
    height: min-content;
    justify-self: start;
    align-self: end;
}


@media screen and (max-device-width: 320px) {

    .places__website {
        padding-left: 16px;
    }
}