.cover__subtitle {
    padding-top: 32px;
    width: 70%;
    margin: 0 auto;
}


@media screen and (max-device-width: 320px) {
    .cover__subtitle {
        width: 90%;
        padding-top: 10px;
    }
}