.font-size_xs {
    font-size: 10px;
}

.font-size_sm {
    font-size: 12px;
}

.font-size_md {
    font-size: 14px;
}

.font-size_lg {
    font-size: 16px;
}

.font-size_xl {
    font-size: 18px;
}

.font-size_2xl {
    font-size: 24px;
}

.font-size_3xl {
    font-size: 30px;
}

.font-size_4xl {
    font-size: 54px;
}

.font-size_5xl {
    font-size: 72px;
}

.font-size_6xl {
    font-size: 96px;
}



@media screen and (max-device-width: 768px){
    .font-size_xl {
        font-size: 16px;
    }

    .font-size_5xl {
        font-size: 42px;
    }

}

@media screen and (max-device-width: 320px) {
    .font-size_6xl {
        font-size: 40px;
    }

    .font-size_3xl {
        font-size: 16px;
    }

    /*.font-size_xl {*/
    /*    font-size: 14px;*/
    /*}*/

    .font-size_5xl {
        font-size: 32px;
    }

}


